@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    background-color: #0f5e9c;
    font-family: Helvetica;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
}



.container {
width: 500px;
display: flex;
flex-direction: column;;
/* justify-content: center; */
align-items: center;
}

h1 {
    margin-bottom: 0;
}

p {
    font-family: "Roboto Mono";
    margin-top:0;
    margin-bottom: 50px;
    
}

#bigglass {
    width: 160px;
    height: 300px;
    background: linear-gradient(to bottom, white 100%, #ADD8E6 100%);
    border: 4px solid #091677;
    margin-bottom: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container p:nth-of-type(2) {
    font-size: 14px;
    margin-bottom: 15px;
  }

.eightglassescontainer {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    gap: 10px;
    justify-content: center;
}



.drinkingglasses {
    background: white;
    margin-left: 5px;
    margin-right: 5px;
    flex-basis: 18%;
    height: 85px;
    box-sizing: border-box;
    border: 3px solid #091677;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
    outline: none;
}


.fullglass {
    background:#d4f1f9;
}

.drinkingglasses p {
   font-size: 12px;
   color: #0f5e9c;
}

.drinkingglasses:focus {
    outline: none;
    box-shadow: none;
}

.drinkingglasses p:focus {
    outline: none;
 }

 .clicked:focus {
    outline: none;
    box-shadow: none;
}

br:focus {
    outline: none;
}



@media only screen and (max-width: 600px) {
    body {
    align-items: center;
    padding: 0;
    margin: 0;
    }

    h1 {
        font-size: 24px;
        margin-top: 0;
    }

    .container {
        width: 320px;
        margin-top:-20px;
        padding-top: 0;
        }


    p{
        text-align: center;
        margin-bottom: 20px;
        font-size: 14px;
            
    }

    #bigglass {
        width: 140px;
        height: 270px;
    }

    .drinkingglasses:focus {
        outline: none;
        box-shadow: none;
    }




  }
